/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: Helvetica, Arial, sans-serif;
}
.texto-escuro {
  color: #4b4b4b;
}
.texto-claro {
  color: #d4d4d4;
}
.texto-apagado {
  color: #969696;
}
.blockScroll {
  /* position: fixed; */
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.separacao-clara {
  border-bottom: 1px solid #4b4b4b;
}
.separacao-escura {
  border-bottom: 1px solid #b6b6b6;
}
.dark {
  background: #2b2b2b;
}
/* HEADER ################################################################ */
header {
  position: fixed;
  z-index: 50;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background: #1b1b1b;
}
.menu-mobile {
  display: none;
}
.nav-list {
  display: flex;
  justify-content: center;
}
.nav-item {
  padding: 5px 20px;
}
.nav-link {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav-link a {
  text-align: center;
}
.nav-link:hover,
.nav-link.active {
  border-bottom: 2px solid #f06000;
  color: #f06000;
}
/* BODY ################################################################ */
.container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 90px 0;
  max-width: 960px;
  width: 90%;
  height: 100%;
}
.flex-left {
  width: 25%;
}
.flex-right {
  width: 75%;
}
.titulo-section span {
  padding-bottom: 3px;
  border-bottom: 3px solid #f06000;
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
}
.titulo-section i {
  margin-right: 6px;
  margin-left: 2px;
  color: #f06000;
}
.dados-pessoais {
  padding-top: 65px;
}
.foto-perfil {
  overflow: hidden;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  pointer-events: none;
}
.foto-perfil img {
  width: 100%;
}
.title {
  margin-bottom: 30px;
}
.title h1 {
  font-weight: 700;
  font-size: 2rem;
}
.title span {
  color: #f06000;
}
.info-endereco {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.info-endereco-item {
  margin-bottom: 15px;
}
.info-endereco-item i {
  position: relative;
  left: -5px;
  width: 30px;
  text-align: center;
}
a.info-endereco-item,
.info-endereco-item a {
  text-decoration: none;
  line-height: 1.2em;
  transition: 0.3s;
}
a.info-endereco-item:hover,
.info-endereco-item:hover a {
  color: #d4d4d4;
}
.new-line {
  margin-left: 30px;
  line-height: 1.7em;
}
.download-curriculo {
  position: absolute;
  right: 0;
  margin-bottom: 40px;
}
.curriculo-btn {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px 20px;
  width: 200px;
  border-radius: 5px;
  background: #1b1b1b;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.curriculo-btn:hover {
  background: #ce5a0d;
  color: #fff;
}
.curriculo-btn i {
  margin-right: 5px;
}
.social-icons {
  display: flex;
}
.social-icons a {
  color: #b6b6b6;
}
.social-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.social-icons div i {
  position: relative;
  top: 0;
  font-size: 25px;
  transition: 0.3s;
}
.social-icons div:hover i {
  top: -4px;
  color: #f06000;
  transition: 0.3s;
}
.experiencia-item:not(:last-child) {
  margin-bottom: 40px;
}
.experiencia-title {
  margin-bottom: 10px;
  color: #4b4b4b;
  font-weight: 700;
  font-size: 1.4rem;
}
.experiencia-empresa {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1.2rem;
}
.experiencia-empresa time {
  margin-left: 7px;
  font-weight: 400;
  font-size: 1rem;
}
.experiencia-lista {
  margin-left: 17px;
  list-style: disc;
}
.experiencia-lista li {
  margin-bottom: 10px;
  line-height: 1.4em;
}
.experiencia-lista li span {
  font-weight: 700;
}
.habilidades-lista:not(:last-child) {
  margin-bottom: 40px;
}
.habilidades-titulo h3 {
  margin-bottom: 20px;
  color: #4b4b4b;
  font-weight: 700;
  font-size: 1.5rem;
}
.habilidades-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.skill-item {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
}
.skill-item canvas{
  width: 120px !important;
  height: 120px !important;
}
[data-skill='asp'] {
  background-image: url('../img/skills/webforms.jpg');
}
[data-skill='net'] {
  background-image: url('../img/skills/mvc.jpg');
}
[data-skill='nancy'] {
  background-image: url('../img/skills/nancy.jpg');
}
[data-skill='csharp'] {
  background-image: url('../img/skills/cs.jpg');
}
[data-skill='delphi'] {
  background-image: url('../img/skills/delphi.jpg');
}
[data-skill='sqlserver'] {
  background-image: url('../img/skills/sql-server.jpg');
}
[data-skill='mysql'] {
  background-image: url('../img/skills/my-sql.jpg');
}
[data-skill='firebird'] {
  background-image: url('../img/skills/fire-bird.jpg');
}
[data-skill='html'] {
  background-image: url('../img/skills/html.jpg');
}
[data-skill='css'] {
  background-image: url('../img/skills/css.jpg');
}
[data-skill='js'] {
  background-image: url('../img/skills/javascript.jpg');
}
[data-skill='jquery'] {
  background-image: url('../img/skills/jquery.jpg');
}
[data-skill='angular'] {
  background-image: url('../img/skills/angular.jpg');
}
[data-skill='bootstrap'] {
  background-image: url('../img/skills/bootstrap.jpg');
}
[data-skill='git'] {
  background-image: url('../img/skills/git.jpg');
}
[data-skill='tortoise'] {
  background-image: url('../img/skills/tortoise-svn.jpg');
}
[data-skill='tfs'] {
  background-image: url('../img/skills/tfs.jpg');
}
[data-skill='bower'] {
  background-image: url('../img/skills/bower.jpg');
}
[data-skill='npm'] {
  background-image: url('../img/skills/npm.jpg');
}
[data-skill='scrum'] {
  background-image: url('../img/skills/scrum.jpg');
}
[data-skill='tdd'] {
  background-image: url('../img/skills/tdd.jpg');
}
.skill-item > div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #f06000;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}
.skill-item:hover > div {
  opacity: 1;
}
.skill-item h4 {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2em;
}
.educacao-item {
  display: flex;
  align-items: center;
}
.educacao-item:not(:last-child) {
  margin-bottom: 30px;
}
.educacao-logo {
  overflow: hidden;
  margin-right: 20px;
  min-width: 120px;
  width: 120px;
  height: 65px;
  border-radius: 10px;
}
.educacao-logo img {
  width: 100%;
}
.educacao-info h3 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 1.2rem;
}
.educacao-info p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1rem;
}
.educacao-info time {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 0.9rem;
}
.extra-container {
  display: flex;
}
.extra-container h3 {
  margin-bottom: 10px;
  color: #f06000;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.1em;
}
.extra-container p {
  margin-bottom: 5px;
  font-size: 1.2rem;
  line-height: 1.2em;
}
.extra-container time {
  color: #969696;
  font-size: 0.9em;
}
.owl-nav {
  position: absolute;
  top: 0;
  top: 50px;
  left: -190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 30px;
}
.owl-nav button {
  outline: none;
}
.owl-nav button span {
  color: #f06000;
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  transition: 0.3s;
}
.owl-nav button:hover span {
  color: #ce5a0d;
}
.idioma-item {
  margin-bottom: 25px;
  width: 100%;
}
.idioma-nome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.idioma-nome picture {
  overflow: hidden;
  width: 50px;
  height: 33px;
  border-radius: 5px;
}
.idioma-nome img {
  width: 100%;
}
.idioma-nome h3 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.4rem;
}
.idioma-nivel {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: #e7e7e7;
}
.idioma-nivel p {
  z-index: 2;
  margin-left: 10px;
  color: #e7e7e7;
  font-weight: 700;
  font-size: 0.9rem;
}
.idioma-nivel span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f06000;
  transition: 2s;
}
.idioma-nivel span.avancado {
  width: 80%;
}
.idioma-nivel span.basico {
  width: 25%;
}
/* FOOTER ################################################################ */
footer {
  position: relative;
  padding: 65px 20px 50px 20px;
  background: #1b1b1b;
  text-align: center;
}
.back-top {
  position: absolute;
  top: -30px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f06000;
  cursor: pointer;
  transition: 0.3s;
  transform: translateX(-50%);
}
.back-top:hover {
  background: #ce5a0d;
}
.back-top i {
  color: #fff;
  font-size: 30px;
}
.footer-texto span {
  font-weight: 900;
}

/* RESPONSIVO  #############################################################*/
@media (max-width: 960px) {
  /* HEADER  ###############################################################*/
  header {
    padding: 25px 20px;
  }
  .menu-mobile {
    position: absolute;
    top: 7px;
    right: 20px;
    z-index: 15;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .menu-mobile span {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 35px;
    height: 3px;
    background: #f06000;
    transition: 0.3s;
  }
  .menu-mobile span:before,
  .menu-mobile span:after {
    position: absolute;
    left: 0;
    display: block;
    width: 35px;
    height: 3px;
    background: #f06000;
    content: ' ';
    transition: 0.3s;
  }
  .menu-mobile span:before {
    bottom: 10px;
  }
  .menu-mobile span:after {
    top: 10px;
  }
  .menu-mobile.active span {
    background: transparent;
  }
  .menu-mobile.active span:before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .menu-mobile.active span:after {
    top: 0;
    transform: rotate(-45deg);
  }
  .nav {
    position: absolute;
    top: -100vh;
    right: 0;
    z-index: 10;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background: #1b1b1b;
    opacity: 0;
    transition: 0.3s;
  }
  .nav.active {
    top: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
  }
  .nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    width: 100%;
  }
  .nav-item {
    padding: 15px 0;
  }
  /* BODY  ###############################################################*/
  .container {
    flex-direction: column;
    padding: 50px 25px;
    width: 100%;
  }
  .flex-left,
  .flex-right {
    width: 100%;
  }
  .flex-left {
    margin-bottom: 40px;
  }
  .dados-pessoais {
    padding-top: 50px;
  }
  .foto-perfil {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  .title {
    margin-bottom: 15px;
    text-align: center;
  }
  .info-endereco {
    text-align: center;
  }
  .download-curriculo {
    position: relative;
    right: auto;
    margin-bottom: 40px;
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
  .titulo-section {
    text-align: center;
  }
  .extra-container {
    margin-bottom: 35px;
  }
  .owl-nav {
    top: auto;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 430px) {
  .extra-item {
    text-align: center;
  }
}
